.wrapper_with_padding
  #doc_show
    %h1.title= @doc.title
    %p.content= @doc.content

    .buttons
      = link_to "Fix It", edit_doc_path(@doc), class: "button"
      = link_to "Trash It", doc_path(@doc), method: :delete, data: { confirm: "Are you sure?" } , class: "button"

    %br

    -if @like
      = link_to unlike_post_likes_path(doc_id: @doc.id), :controller => :post_likes, :method => :post do 
        %i.fa.fa-heart{:style=> "padding-left:48.5%; padding-top:2%; font-size: 1.5em;"}
    -else
      = link_to like_post_likes_path(doc_id: @doc.id ), :controller => :post_likes, :method => :post do 
        %i.fa.fa-heart-o{:style=> "padding-left:48.5%; padding-top:2%; font-size: 1.5em;"}