!!!
%html
%head
  %title FileCabinet | Your life's great!!
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
  = csrf_meta_tags
%body
  %header
  

    %nav.navbar.navbar-fixed-top
      .collapse.navbar-collapse.content
        %ul.navbar-nav
          %h1= link_to "FileCabinet", root_path, class: 'logo'
    

        .pull-right.button-css
          - if user_signed_in?
            = link_to "Create a Doc", new_doc_path, class: 'button btn btn-default'

            = link_to "Log out", destroy_user_session_path, method: :delete, class: 'button btn btn-default'
          - else
            %button.btn.btn-outline-success.my-2.my-sm-0

              = link_to "Log in", new_user_session_path



  %p.notice= notice
  %p.alert= alert

  = yield

